body {
	width: 810px;
	margin: 0 auto;
	font-family: lato, sans-serif, helvetica;
}

.wrapper {
	background: #ece9d8;

}

.header {
	background: #aa2b01;
	height: 100px;
	border-bottom: #fdfeff solid 5px;
	-webkit-box-shadow:0px 9px 23px -5px #808080,  2px 2px 2px #A8A8A8;
	-moz-box-shadow:0px 9px 23px -5px #808080,  2px 2px 2px #A8A8A8;
	-o-box-shadow:0px 9px 23px -5px #808080,  2px 2px 2px #A8A8A8;
	-ms-box-shadow:0px 9px 23px -5px #808080,  2px 2px 2px #A8A8A8;
	box-shadow:0px 9px 23px -5px #808080,  2px 2px 2px #A8A8A8
}


#logo {
	position: relative;
	height: 70px;
	margin: 20px;
}

h1 {
	font-family: lato, helvetica, serif;
	font-size: 70px;
	color: #fdfeff;
	text-shadow: 1px 1px 7px #333;
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
}


.content {
	
	margin: 30px 90px 20px 90px;
}

form {
	background-image: url('http://deststudios.com/client/nwv/fb/contests/photo/Example_tab_NV.png');
	background-repeat: no-repeat;
	background-position: top center;
	width: 650px;
	height: 450px;
}

#tellus {
	height: 100px;
}

.input-text {
	border-radius: 5px;
	position: relative;
	left: 50px;
	top: 40px;
	width: 300px;
	height: 25px;
	margin: 4px;
	outline: 0px;
	-webkit-box-shadow: inset    -5px rgba(51, 51, 51, 7),  2px 2px 2px #333333;
	-moz-box-shadow: inset    -5px rgba(51, 51, 51, 7),  2px 2px 2px #333333;
	-o-box-shadow: inset    -5px rgba(51, 51, 51, 7),  2px 2px 2px #333333;
	-ms-box-shadow: inset    -5px rgba(51, 51, 51, 7),  2px 2px 2px #333333;
	box-shadow: inset    -5px rgba(51, 51, 51, 7),  2px 2px 2px #333333;
}

#button {
	background-color: #EE432E;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #EE432E), color-stop(50%, #C63929), color-stop(50%, #B51700), color-stop(100%, #891100));
	background-image: -webkit-linear-gradient(top, #EE432E 0%, #C63929 50%, #B51700 50%, #891100 100%);
	background-image: -moz-linear-gradient(top, #EE432E 0%, #C63929 50%, #B51700 50%, #891100 100%);
	background-image: -ms-linear-gradient(top, #EE432E 0%, #C63929 50%, #B51700 50%, #891100 100%);
	background-image: -o-linear-gradient(top, #EE432E 0%, #C63929 50%, #B51700 50%, #891100 100%);
	background-image: linear-gradient(top, #EE432E 0%, #C63929 50%, #B51700 50%, #891100 100%);
	border: 1px solid #951100;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	-moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	box-shadow: inset 0px 0px 0px 1px rgba(255, 115, 100, 0.4), 0 1px 3px #333333;
	color: white;
	width: 80px;
	height: 30px;
}

#upload {
	background: #E3E3E3;
	border: 1px solid #BBB;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
	line-height: 1;
	width: 60px;
}

#description {
	margin: 20px;
	font-family: lato, helvetica, serif;
	color: #72757e;

}

.footer {
	background: #aa2b01;
	height: 50px;
	border-top: #fdfeff solid 5px;
	-webkit-box-shadow:0px -5px 16px -5px rgba(150, 150, 150, 2);
	-moz-box-shadow:0px -5px 16px -5px rgba(150, 150, 150, 2);
	-o-box-shadow:0px -5px 16px -5px rgba(150, 150, 150, 2);
	-ms-box-shadow:0px -5px 16px -5px rgba(150, 150, 150, 2);
	box-shadow:0px -5px 16px -5px rgba(150, 150, 150, 2);
}

#footer-description {
	margin: 10px;
	color: #EEE;
	font-family: lato, helvetica, sans-serif;
	text-shadow:3px 2px 4px #333333	
}

h3 {
	color: #ffffff;
	text-shadow: .5px .5px 2px #333;
	font-size: 2em;
}

p {
	color: #7d7b79;
}

strong {
	color: #fdbf58;
}

h2 {
	font-size: 4em;
	color: #fdbf58;
	text-shadow: 1px 1px 7px #333;

}












































