<p><a href="http://www.nationwidevision.com">Nationwide Vision</a> is proud to sponsor <a href="http://98kupd.com/ufest-2012">KUPD’s UFest 2012!</a> As a testament to our excitement, we’re giving away a free custom<a href="http://www.nationwidevision.com/lasik/">LASIK</a> procedure ($3225 value).</p>
<p>Enter to win by simply telling us in 50 words or less why you should receive this LASIK procedure over all your fellow compatriots.The 2nd place contestant will win a $200 gift card redeemable at any of our retail locations. Hello new pair of glasses!</p>
<p>So our 3rd place winner won’t feel left out we're giving away a $75 NVC Gift Card. All the info you need right <a href="http://nationwidevision.com/rules.pdf">here</a></p> 
