<html>
  <head>
    <meta charset="utf-8">
    <title>Your Vision In HD Photo Contest</title>
    <link rel="stylesheet" href="http://deststudios.com/client/nwv/fb/contests/photo/topsix/foundation.css">
    <link rel="stylesheet" href="http://deststudios.com/client/nwv/fb/contests/photo/topsix/app.css">
    <link rel="stylesheet" href="http://deststudios.com/client/nwv/fb/contests/photo/topsix/ie.css">
    <link rel="stylesheet" href="http://deststudios.com/client/nwv/fb/contests/photo/topsix/grid_helper.css">
  </head>

<!-- Body -->

<body>
  	<div class="container header-wrapper">
  		<header class="row">
  				<img src="http://deststudios.com/client/nwv/fb/contests/photo/nvc_logo.png" />
  		</header>
	</div> 
<!-- Content for posts -->
	<div class="container body-wrapper">
    	<div class="row">
			<ul class="block-grid three-up text-center gallery">
				<li>
					<div id="comments">
						<h3><em>Picture Title</em></h3>
					</div>
					<div id="photo_background">
						<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/photo.png" id="feature" />
          			</div>
          			<p class="text-left" id="words"><strong>Your eyes are everything to you.</strong> Through them you witnessed 1,000 spectacular sunsets, saw your children take their first steps, and watched the flicker of interest on the face of a special someone who, from the moment you met, you knew was going to make your life better. Your eyes are worth taking the best possible care – and that means having a lifetime care partner who cares as much about your eyes’ health as you do. <em>Read More»</em></p>
          			<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/button.png" />
				</li>
				<li>
					<div id="comments">
						<h3><em>Picture Title</em></h3>
					</div>
					<div id="photo_background">
						<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/photo.png" id="feature" />
          			</div>
          			<p class="text-left"><strong>Your eyes are everything to you.</strong> Through them you witnessed 1,000 spectacular sunsets, saw your children take their first steps, and watched the flicker of interest on the face of a special someone who, from the moment you met, you knew was going to make your life better. Your eyes are worth taking the best possible care – and that means having a lifetime care partner who cares as much about your eyes’ health as you do. <em>Read More»</em></p>
          			<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/button.png" />
				</li>
				<li>
					<div id="comments">
						<h3><em>Picture Title</em></h3>
					</div>
					<div id="photo_background">
						<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/photo.png" id="feature" />
          			</div>
          			<p class="text-left"><strong>Your eyes are everything to you.</strong> Through them you witnessed 1,000 spectacular sunsets, saw your children take their first steps, and watched the flicker of interest on the face of a special someone who, from the moment you met, you knew was going to make your life better. Your eyes are worth taking the best possible care – and that means having a lifetime care partner who cares as much about your eyes’ health as you do. <em>Read More»</em></p>
          			<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/button.png" />
				</li>
				<li>
					<div id="comments">
						<h3><em>Picture Title</em></h3>
					</div>
					<div id="photo_background">
						<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/photo.png" id="feature" />
          			</div>
          			<p class="text-left"><strong>Your eyes are everything to you.</strong> Through them you witnessed 1,000 spectacular sunsets, saw your children take their first steps, and watched the flicker of interest on the face of a special someone who, from the moment you met, you knew was going to make your life better. Your eyes are worth taking the best possible care – and that means having a lifetime care partner who cares as much about your eyes’ health as you do. <em>Read More»</em></p>
          			<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/button.png" />
				</li>
				<li>
					<div id="comments">
						<h3><em>Picture Title</em></h3>
					</div>
					<div id="photo_background">
						<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/photo.png" id="feature" />
          			</div>
          			<p class="text-left"><strong>Your eyes are everything to you.</strong> Through them you witnessed 1,000 spectacular sunsets, saw your children take their first steps, and watched the flicker of interest on the face of a special someone who, from the moment you met, you knew was going to make your life better. Your eyes are worth taking the best possible care – and that means having a lifetime care partner who cares as much about your eyes’ health as you do. <em>Read More»</em></p>
          			<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/button.png" />
				</li>
				<li>
					<div id="comments">
						<h3><em>Picture Title</em></h3>
					</div>
					<div id="photo_background">
						<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/photo.png" id="feature" />
          			</div>
          			<p class="text-left"><strong>Your eyes are everything to you.</strong> Through them you witnessed 1,000 spectacular sunsets, saw your children take their first steps, and watched the flicker of interest on the face of a special someone who, from the moment you met, you knew was going to make your life better. Your eyes are worth taking the best possible care – and that means having a lifetime care partner who cares as much about your eyes’ health as you do. <em>Read More»</em></p>
          			<img src="http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/button.png" />
				</li>
			</ul>
		</div>
	</div>
  </div>
</body>
</html>
