/* Foundation v2.2 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
 background: transparent url("http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/background_body_04.png") repeat;
 font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
}

.header-wrapper {
	background: transparent url("http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/header.jpg") center top repeat-y;
	border-bottom: 5px #FFF solid;
	box-shadow: 1px 1px 1px 1px #888;
	margin-bottom: 30px;
}

#container {
  background: transparent url("http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/header_white_bottom.png") left top repeat-x;
  padding-top: 50px; }

.row {
  max-width: 1140px; }
  
h3 {
	color: #841616;
}

.gallery li {
	margin-bottom: 100px;
}


#comments {
	height: 50px;
	background: url("http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/comments.png") no-repeat scroll right top transparent;
	padding-bottom: 15px;
}

#photo_background {
	background-image: url("http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/comments.png") no-repeat scroll left top;
	background: #fefefd;
	height: 363px;
	width: 363px;
	margin-bottom: 10px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#feature {
	min-height: 10em;
	vertical-align: middle;
	margin-top: 30px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	border: 3px #FFF solid;
}




/* -----------------------------------------
   Page Name 1
----------------------------------------- */

#picture {
	background: url("http://deststudios.com/client/nwv/fb/contests/photo/topsix/assets/comments.png") no-repeat scroll left top;



/* -----------------------------------------
   Page Name 2
----------------------------------------- */


