@import "mixins2";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
	font-family: lato, helvetica, sans-serif;
	margin: 0;
	padding: 0;
	width:810px;
	margin:0 auto;
}
#bg-wrapper {
		background:url("nvc_mid.jpg") left top repeat-y;
		width: 810px;
		float:left;
}
.wrapper {
	float:left;
	width:810px;
	height: 700px;
	background: #ffffff;
	background:url("nvc_top.jpg") left top no-repeat;
	position:relative;
	z-index:300;
}


#form {
	color: #000000;
	float: left;
	font-family: "Lucida Sans Unicode","Lucida Grande",sans-serif;
	font-size: 13px;
	padding: 130px 0 0 40px;
	position: relative;
	text-align: left;
	width: 300px;
	z-index:500;
	display:block;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	p {
		color:#444;
		font-size:11px;
	}	

}
.bot {
	background:transparent url('nvc_bot.jpg') left bottom no-repeat;
	height:201px;
	width:810px;
	float:left;
	position:relative;
	top:-20px;
	display:block;
	z-index:10;
}
#description {
	font-family: lato, helvetica, sans-serif;
	height: 300px;
	width: 400px;
	padding: 20px;
	padding-top: 290px;
	float:left; 
	p {
		padding:0 0 5px;
		margin:0;
	}	
}
div.input {
	padding-bottom:4px;
} 
label {}
input {
	height: 35px;
	width: 280px;
	margin: 0 3px 3px;
	padding:2px 8px;
	font-size:15px;
	font-family: lato, helvetica, sans-serif;
	color: #797575;
	border:none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline: none;
}
input.placeholder {
	font-size:11px;
}
textarea {
	height: 100px;
	width: 280px;
	margin: 3px;
	padding:2px 8px;
	border:none;
	font-family: lato, helvetica, sans-serif;
	font-size:15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	outline: none;
}

#button {
	margin-left: 110px;
	width: 100px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.btn {
	width: 100px;
	color: #ae2c01;
	margin:0 0 0 100px;
	color:#ddd !important;
	
}

.input.field_with_errors,{
	position:relative;
	input, textarea{
		border:1px solid #f00;
		background:#fdf1f4}
	span.error {
		position: absolute;
		right: 0;
		top: 0;
		text-align: right;
		color:#f00;
	}
}

a {
	text-decoration: none;
	color: #9e2301;
}

a:hover {
	color: #701a02;
}
h3 {color:#111;font-weight:bold;}
.photo {
	padding:5px;
	background:#FFF url() 0 0 no-repeat;
	@include rounded(2px);
	@include shadow();
	float:left;
	img {float:left;}
}
.hide {display:none;}
@import "buttons";
@import "spaces";