/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
	font-family: lato, helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 810px;
	margin: 0 auto;
	height: 700px;
	background: #ffffff;
	background-image:url("nvc-tab-contest-bckgrd.jpg");
	background-repeat: no-repeat;
}


#form {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	color: #000;
	text-align: left;
	width: 330px;
	position:relative;
	left: 480px;
	top: -375px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
}

#description {
	font-family: lato, helvetica, sans-serif:
	height: 300px;
	width: 350px;
	padding: 20px;
	padding-top: 300px; 	
}

input {
	height: 35px;
	width: 300px;
	margin: 3px;
	font-family: lato, helvetica, sans-serif;
	color: #797575;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

textarea {
	height: 100px;
	width: 300px;
	margin: 5px;
	font-family: lato, helvetica, sans-serif;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#button {
	margin-left: 110px;
	width: 100px;
}

#submit-button {
	height: 25px;
	width: 60px;
	color: #ae2c01;
	margin-top: -10px;
	padding: 0;
	text-align: center;
}

label {
	font-size: .7em;
	padding-left: 120px;
}

a {
	text-decoration: none;
	color: #fdad02;
}

a:hover {
	color: #024ffd;
}
